html{
    height:100%;
    width:100%
}

body{
      overflow: hidden;
}

#drawer, #wrapper{
  overflow: auto;
}

#drawer li {
  border-bottom: 1px solid gainsboro;
}

#button_drawer {
    color: #fff;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#app_title h1{
    font-size: 20px;
    margin-top: 13px;
}   

#app_title{
    line-height: 3em;
    color: white;
}

#header{
    -webkit-app-region: drag;
    z-index: 5;
    height: 50px;
}

#wrapper{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    height: 100%;
}

/*#34A853*/
.header-panel {
    background-color: #34A853;
    height: 50px;
    z-index: 5;
}

#drawer.menu ul li.separator{
  padding: 0;
  border-bottom-width: 2px;
}

#drawer_overlay {
    display: none;
    background: #000;
    width: 100%;
    width: 100vh;
    height: 100%;
    position: fixed;
    /*margin-left: -5px;*/
    top: 0;
    z-index: 4;
    opacity: .4;
}

#header_clearfix{
  height: 10px;
}

#drawer{
  position: absolute;
}

#drawer.menu {
    overflow: auto;
    padding: 0;
}
#drawer.menu, #drawer.menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#drawer.menu ul {
    padding: 0;
    margin: 0;
}
#drawer.menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}
#drawer.menu ul li.active {
    background-color: #dedede;
    position: relative;
}
#drawer.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

/*Drawer Icon*/
.material-icon {
    width: 30px;
    height: 50px;
    margin-top: 13px;
    position: relative;
}

.material-icon span,
.material-icon {
    transition: all 500ms ease;
}

.material-icon span {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.hamburger span {
    height: 2px;
    -webkit-transform: translateY(10px);
}

.hamburger .second {
    -webkit-transform: translateY(0);
}

.hamburger .third{
    -webkit-transform: translateY(20px);
}
/* This part is added to the hamburger css so they have the same height and positioning. */
.hamburger span, .arrow span {
    height: 2px;
    -webkit-transform: translateY(10px);
}

.arrow span{
    -webkit-transform: translateY(36px);
}

/* I also need to move it back a bit to keep it centered. */
.arrow {
    -webkit-transform: rotate(180deg) translateX(-3px);
}

.arrow .second,
.arrow .third {
    -webkit-transform: rotate(-45deg) translateY(40px) translateX(-21px);
    width: 20px;
}

.arrow .second {
    -webkit-transform: rotate(45deg) translateY(11px) translateX(30px);
}




* {
        box-sizing: border-box;
    }
    .header-panel {
        background-color: #34A853;
        height: 144px;
        position: relative;
        z-index: 3;
    }
    .header-panel div {
        position: relative;
        height: 100%;
    }
    .header-panel h1 {
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        position: absolute;
        padding-left: 35px;
    }

    .menu {
        overflow: auto;
        padding: 0;
    }
    .menu, .menu * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .menu ul {
        padding: 0;
        margin: 7px 0;
    }
    .menu ul li {
        list-style: none;
        padding: 20px 0 20px 50px;
        font-size: 15px;
        font-weight: normal;
        cursor: pointer;
    }
    .menu ul li.active {
        background-color: #dedede;
        position: relative;
    }
    .menu ul li a {
        color: rgb(51, 51, 51);
        text-decoration: none;
    }

    .pages {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        padding: 0;
        overflow: auto;
    }
    .pages > div {
        padding: 0 5px;
        padding-top: 64px;
    }

    .pages .header {
        color: rgb(82, 101, 162);
        font-size: 24px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 60px;
        letter-spacing: 1.20000004768372px;
    }

    .page {
        transform: translateY(1080px);
        transition: transform 0 linear;
        display: none;
        opacity: 0;
        font-size: 16px;
    }

    .page.active {
        transform: translateY(50px);
        transition: all 0.3s ease-out;
        display: block;
        opacity: 1;
        margin-top: 10px;
    }
  
    .panel-footer {
      background-color: #fff;
    }

    #opensource {
        color: rgba(0, 0, 0, 0.62);
        position: fixed;
        margin-top: 50px;
        margin-left: 50px;
        z-index: 100;
    }

    #source-modal h4 {
        color: black;
    }

    li ul {
        border-left: 1px solid black;
    }

    ul.no_puce{
        list-style:none;
    }

    .loader {
        -webkit-animation: rotator 1.4s linear infinite;
        animation: rotator 1.4s linear infinite;
    }

    @-webkit-keyframes rotator {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
      }
  }

  @keyframes rotator {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
  }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
      stroke: #4285F4;
  }
  25% {
      stroke: #DE3E35;
  }
  50% {
      stroke: #F7C223;
  }
  75% {
      stroke: #1B9A59;
  }
  100% {
      stroke: #4285F4;
  }
}

@keyframes colors {
    0% {
      stroke: #4285F4;
  }
  25% {
      stroke: #DE3E35;
  }
  50% {
      stroke: #F7C223;
  }
  75% {
      stroke: #1B9A59;
  }
  100% {
      stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 187;
  }
  50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
  }
  100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
      transform: rotate(450deg);
  }
}
@keyframes dash {
    0% {
      stroke-dashoffset: 187;
  }
  50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
  }
  100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
      transform: rotate(450deg);
  }
}

span.hide{
    width:0px;
}

#drawer_overlay{
  display: none;
  background: black;
  width: 100vh;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  opacity: 0.4;
}

#market_list_plugins li ul{
    border-left: initial; 
}

@media (max-width: 991px){
  body{
    overflow: hidden;
  }
  .header-panel{
    height: 60px;
  }
  .pages > div {
    padding-top: 80px;
  }
  .header-panel{
    z-index: 5;
  }

  .header-panel h1{
     position: initial; 
     bottom: auto; 
     padding: initial; 
  }
}

/*Snackbar*/
.paper-snackbar {
  z-index: 5;
  -webkit-transition-property: opacity, bottom, left, right, width, margin, border-radius;
          transition-property: opacity, bottom, left, right, width, margin, border-radius;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  font-family: RobotoDraft;
  font-size: 14px;
  min-height: 14px;
  background-color: #323232;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  line-height: 22px;
  padding: 18px 24px;
  bottom: 0px;
  opacity: 0;
}

@media (min-width: 640px) {
  .paper-snackbar {
    /*
    Desktop:
      Single-line snackbar height: 48 dp tall
      Minimum width: 288 dp
      Maximum width: 568 dp
      2 dp rounded corner
      Text: Roboto Regular 14 sp
      Action button: Roboto Medium 14 sp, all-caps text
      Default background fill: #323232 100%
    */
    min-width: 288px;
    max-width: 568px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 2px;
    margin: 24px;
    bottom: -100px;
  }
}
@media (max-width: 640px) {
  .paper-snackbar {
    /*
    Mobile:
      Single-line snackbar height: 48 dp
      Multi-line snackbar height: 80 dp
      Text: Roboto Regular 14 sp
      Action button: Roboto Medium 14 sp, all-caps text
      Default background fill: #323232 100%  
    */
    left: 0px;
    right: 0px;
  }
}
.paper-snackbar .action {
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  text-transform: uppercase;
  color: #ffeb3b;
  margin: 0px 0px 0px 24px;
  padding: 0px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

/* Everything from here down is actually just for the demo - the material buttons and card, and various other pieces of styling */
/* Variables */
/* Buttons */
.paper-button {
  position: relative;
  padding: 4px 0;
  margin: 1em;
  width: 160px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  text-transform: uppercase;
  border-radius: 3px;
  outline-color: #ccc;
}
.paper-button:hover {
  cursor: pointer;
}
.paper-button .ripple {
  position: absolute;
  width: 320px;
  height: 320px;
  background-color: rgba(204, 204, 204, 0.5);
  left: 0;
  top: 0;
  border-radius: 50%;
  margin-left: -160px;
  margin-top: -160px;
  -webkit-transform: scaleX(0) scaleY(0);
      -ms-transform: scaleX(0) scaleY(0);
          transform: scaleX(0) scaleY(0);
  z-index: 9000;
}

.paper-button button, .paper-button input[type="submit"] {
  background: inherit;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 1em;
  color: #000;
  text-transform: uppercase;
}

.paper-button.colored, .paper-button.colored button {
  color: #4285f4;
}

.paper-button .ripple {
  background-color: rgba(204, 204, 204, 0.5);
}

.paper-button.raised-button.colored .ripple {
  background-color: rgba(255, 255, 255, 0.5);
}

.paper-button.raised-button .ripple {
  background-color: rgba(204, 204, 204, 0.5);
}

.paper-button.raised-button.colored {
  background-color: #4285f4;
}

.paper-button .raised-button {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-button.raised-button.colored {
  background: #4285f4;
  color: #fff;
}

.paper-button[disabled] {
  background-color: #EAEAEA !important;
  color: #A8A8A8 !important;
  cursor: auto;
}

.paper-button:hover {
  background-color: #EAEAEA;
}

.paper-button.raised-button.colored:hover {
  background-color: #3367d6;
}

button.paper-button {
  border: 0;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 1em;
  line-height: 25px;
  background-color: #fff;
}

.paper-button input[type="submit"] {
  outline-color: #ccc;
}

.paper-button.colored.raised-button input[type="submit"] {
  color: #fff;
}

/** Shadows **/
.paper-shadow-animated.paper-shadow {
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-shadow-top-z-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.paper-shadow-top-z-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.paper-shadow-top-z-4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
